/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.footer {
    margin: 12px 12px;
    background-color: var(--darkgrey-bg);
    border-radius: 10px;
    padding: 60px 0;
}

.footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 240px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer__container-information {
    width: 520px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 32px;
}

.information__title {
    font-size: 60px;
    font-weight: bold;
    color: var(--white-button-active);
}

.information__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: var(--lightgray-text);
    font-size: 20px;
    font-weight: bold;
}

.information__container-phone {
    font-size: 35px;
}

.information__container-text {}

.information__container-button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 20px;
    background-color: var(--grey-button-def);
    font-size: 16px;
    color: var(--white-button-active);
    border-radius: 5px;
    cursor: pointer;
}

.information__container-button:hover {
    background-color: var(--grey-button-hover);
}

.information__container-button:active {
    background-color: var(--grey-button-active);
}

.footer__container-form {
    width: 520px;
}

.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.form__label {}

.form__input {
    max-width: 520px;
    padding: 23px 21px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    border-bottom: 4px solid var(--grey-button-active);
    margin-bottom: 32px;
    caret-color: var(--red-button-def);
    color: var(--white-button-active);
}

.form__input::-webkit-input-placeholder {
    font-size: 16px;
}

.form__input::-moz-placeholder {
    font-size: 16px;
}

.form__input:-ms-input-placeholder {
    font-size: 16px;
}

.form__input::-ms-input-placeholder {
    font-size: 16px;
}

.form__input::placeholder {
    font-size: 16px;
}

.form__input:focus {
    outline: none;
    border-bottom: 4px solid var(--red-button-def);
}

.form__input-message {
    height: 180px;
    border: var(--grey-button-active) 4px solid;
    border-radius: 5px;
}

.form__input-message:focus {
    border: var(--red-button-def) 4px solid;
}

.form__text {
    font-size: 16px;
    font-weight: bold;
    color: var(--white-button-active);
    margin-bottom: 32px;
}

.checkbox-container-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #363A40;
    border-radius: 4px;
    -webkit-transition: border-color 0.2s ease;
    -o-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}

.checkbox-container-input:focus {
    outline: none;
}

.checkbox-container-input:checked {
    border-color: #FF0033;
}

.checkbox-container-input:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 12px;
    border: solid #FF0033;
    border-width: 0 2px 2px 0;
    -webkit-transform: translate(-50%, -60%) rotate(45deg);
    -ms-transform: translate(-50%, -60%) rotate(45deg);
    transform: translate(-50%, -60%) rotate(45deg);
}

.form__checkbox-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.checkbox__container-label {
    margin-right: 12px;
}

.form__text-decorate {
    text-decoration: underline;
    cursor: pointer;
    -webkit-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
}


.form__text-decorate:hover {
    color: var(--red-button-def);
    text-decoration: none;
}

.no__underline {
    text-decoration: none;
}

.form__button-submit {
    font-size: 16px;
    padding: 18px 32px;
    border-radius: 5px;
    background-color: transparent;
    border: var(--red-button-def) 2px solid;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: var(--red-button-def);
    font-weight: bold;
    cursor: pointer;
}

.form__button-submit:hover{
    background-color: color-mix(in srgb, var(--red-button-def) 20%, transparent);
}

.form__button-submit:active{}

@media (max-width: 1460px) {
    .footer__container {
        gap: 160px;
    }
}

@media (max-width: 1300px) {
    .footer__container {
        gap: 80px;
    }
}

@media (max-width: 1200px) {
    .footer__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0 24px;
    }

    .footer__container {
        gap: 60px;
    }

    .footer__container-information {
        width: 100%;
    }

    .footer__container-form {
        width: 100%;
    }

    .form__input {
        max-width: none;
    }
}

@media (max-width: 580px) {
    .information__container-button {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        text-align: center;
    }

    .form__button-submit {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        text-align: center;
    }

    .information__title {
        font-size: 48px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .information__title {
        font-size: 24px;
        text-align: center;
    }

    .information__container-phone {
        font-size: 18px;
    }

    .information__container-text {
        font-size: 18px;
    }
}