/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import "./var.css";

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 22px 0;
    background-color: var(--bg-color);
    z-index: 100;
}

a {
    all: unset;
}

.header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.header__container-logo {
    position: absolute;
    left: 70px;
    width: 187px;
    height: 40px;
    cursor: pointer;
}

.header__container-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
    font-size: 16px;
    font-weight: bold;
    color: var(--grey-text);
    line-height: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.list__link {
    padding: 10px;
    color: currentColor;
    -webkit-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
}

.list__link:hover {
    color: var(--red-button-def);
}


.menu {
    display: none;
    position: absolute;
    right: 70px;
}

.burger-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: var(--grey-text);
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.burger__section {
    position: relative;
    width: 20px;
    height: 3px;
    background: white;
    border-radius: 10px;
    -webkit-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
}

.burger__section::before,
.burger__section::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    background: white;
    border-radius: 10px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    left: 0;
}

.burger__section::before {
    top: -7px;
}

.burger__section::after {
    top: 7px;
}

/* 🎬 Анимация */
.burger-checkbox:checked + .burger .burger__section {
    background: transparent;
}

.burger-checkbox:checked + .burger .burger__section::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.burger-checkbox:checked + .burger .burger__section::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.menu__panel {
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    background: var(--bg-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 30px;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    -o-transition: transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
    z-index: -90;
}

.burger-checkbox:checked ~ .menu__panel {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); /* Показываем меню */
}

.menu__link {
    font-size: 20px;
    font-weight: bold;
    color: var(--grey-text);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
    padding: 12px 50px 12px;
}

.menu__link:hover {
    color: var(--red-button-def);
}


/* Текст появится после 0.4s */
.menu__panel .menu__link {
    opacity: 0;
    -webkit-transition: opacity 0.1s ease;
    -o-transition: opacity 0.1s ease;
    transition: opacity 0.1s ease;
}

.burger-checkbox:checked ~ .menu__panel .menu__link {
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}


@media (max-width: 1110px) {
    .header {
        height: 36px;
    }
    .header__container-list {
        display: none;
    }

    .menu {
        display: block;
    }

}

@media (max-width: 960px) {
    .header__container-list .list__link:nth-last-child(2) {
        display: none;
    }
}

@media (max-width: 800px) {
    .header__container-list {
        display: none;
    }
}

@media (max-width: 640px) {
    .header__container-logo {
        left: 40px;
    }

    .menu {
        right: 40px;
    }

}

@media (max-width: 560px) {
    .header__container-logo {
        left: 30px;
    }

    .menu {
        right: 30px;
    }

}

@media (max-width: 420px) {
    .header__container-logo {
        left: 12px;
    }

    .menu {
        right: 12px;
    }

    .menu__link {
        font-size: 16px;
    }

}