/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import "./var.css";

.banner {
    padding: 80px 12px 0;
}

.banner__container {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}

.banner__video-wrapper {
    position: relative;
    width: 100%;
    height: 768px;
    overflow: hidden;
    border-radius: 20px;
}

.banner__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    pointer-events: none;
}

.banner__content {
    position: absolute;
    left: 80px;
    bottom: 80px;
    width: 840px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: var(--white-button-active);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.banner__text {
    font-size: 64px;
    margin-bottom: 24px;
}

.banner__button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 24px;
    background-color: var(--red-button-def);
    padding: 16px 36px;
    border-radius: 5px;
    cursor: pointer;
}

.banner__button:hover {
    background-color: var(--red-button-hover);
}

.banner__button:active {
    background-color: var(--red-button-active);
}


@media (max-width: 1440px) {
    .banner__video-wrapper {
        height: 650px;
    }

    .banner__content {
        left: 60px;
        bottom: 60px;
        width: 620px;
    }

    .banner__text {
        font-size: 48px;
    }
}

@media (max-width: 960px) {
    .banner__video-wrapper {
        height: 470px;
    }

    .banner__content {
        left: 40px;
        bottom: 40px;
        width: 420px;
    }
    .banner__text {
        font-size: 32px;
    }

    .banner__video-wrapper {
        border-radius: 0;
    }

    .banner {
        padding: 80px 0 0;
    }
}

@media (max-width: 580px) {
    .banner__content {
        left: 30px;
        bottom: 30px;

    }
}

@media (max-width: 500px) {
    .banner__content {
        position: absolute;
        bottom: 12px;
        left: 0;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 20px;
    }

    .banner__button {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: calc(100% - 24px);
        text-align: center;
    }
}

@media (max-width: 500px) {
    .banner__text {
        font-size: 24px;
    }
}

@media (max-width: 420px) {
    .banner__button {
        font-size: 14px;
    }
}