$bg-color: #E6EAF1;
$darkgrey-bg: #181A1F;
$nowhite-bg: #F1F4F8;
$grey-text: #3A3A3A;
$lightgray-text: #989898;
$red-button-def: #FF0033;
$red-button-hover: #C30228;
$red-button-active: #FF1947;
$white-button-active: #FFFFFF;
$grey-button-def: #363A40;
$grey-button-hover: #2D3136;
$grey-button-active: #4A5058;

:root {
  --bg-color: #{$bg-color};
  --darkgrey-bg: #{$darkgrey-bg};
  --nowhite-bg: #{$nowhite-bg};
  --grey-text: #{$grey-text};
  --lightgray-text: #{$lightgray-text};
  --red-button-def: #{$red-button-def};
  --red-button-hover: #{$red-button-hover};
  --red-button-active: #{$red-button-active};
  --white-button-active: #{$white-button-active};
  --grey-button-def: #{$grey-button-def};
  --grey-button-hover: #{$grey-button-hover};
  --grey-button-active: #{$grey-button-active};
}